@import "../../mixins.scss";

.searchResultsPage {
    min-height: 700px;
    padding-top: 100px;

    .resultNotFound {
        font-size: 20px;
        color: var(--black-light);

        @include md {
            font-size: 45px;

        }
    }

    .pageTitle {
        font-size: 24px;
        line-height: 34px;
        color: white;
        margin-bottom: 25px;
    }

    .content {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        margin-bottom: 50px;

        @include md {
            gap: 20px;
        }

        .movieCard {
            .posterBlock {
                margin-bottom: 20px;
            }
        }
    }
}


.no-result {
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include md {
        img {
            width: 80%;
            height: 100%;
        }


        img {
            width: 70%;
            height: 90%;

        }
    }
}